<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TreeAlign - Phylogenetic Tree Builder</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>TreeAlign</h1>
        <h2>Build interactive phylogenetic trees from FASTA files</h2>
        <p>Upload FASTA to get started</p>
        
        <div class="content__item">
            
            <input type="file" id="fileInput" class="file-input" accept=".fasta,.fa,.fna,.ffn,.faa,.txt" style="display: none;">
            <button class="button button--pan" id="uploadButton">
                <span>Upload File</span>
            </button>
        </div>
    
        </div>
    </div>

    
</body>
</html>